.indexflex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  margin-top: 1px;
  margin-bottom: 20px;
}

.contenedorflexmainarticle {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.button {
  background-color: rgb(82, 10, 82);
  color: aliceblue;
  width: 16rem;
  height: 3rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
}

.Tazaimagen-Index {
  width: 100%;
  max-width: 250px;
  height: 250px;
  margin: 0 auto;
  display: block;
}

.contenedorflexmain {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 15px;
  justify-items: center;
}

.productoparrafo {
  font-size: 16px;
  width: max-content;
  width: 100%;
}

@media (min-width: 600px) {
  .contenedorflexmain {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .contenedorflexmain {
    grid-template-columns: repeat(3, 1fr);
  }
}
.contenedorflexsection {
  display: grid;
  gap: 25px;
  width: 100%;
  grid-template-columns: 1fr;
  padding: 20px;
  border: 1px solid red;
}

.contenedorflearticle {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.buttonproductos {
  background-color: rgb(82, 10, 82);
  color: aliceblue;
  width: 16rem;
  height: 3rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
}

.productoparrafo {
  font-size: 16px;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
}

.Index-h3productos {
  margin: 0 auto;
  text-align: center;
}

.Tazaimagen-Index {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .contenedorflexsection {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .contenedorflexsection {
    grid-template-columns: repeat(3, 1fr);
  }
}
.contenedorflexsection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(67, 50, 191);
}

.contenedorflearticle {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.buttonproductos {
  background-color: rgb(82, 10, 82);
  color: aliceblue;
  width: 16rem;
  height: 3rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
}

.productoparrafo {
  font-size: 16px;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
}

.Index-h3productos {
  margin: 0 auto;
  text-align: center;
}

.Tazaimagen-Index {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .contenedorflexsection {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .contenedorflexsection {
    grid-template-columns: repeat(3, 1fr);
  }
}
.imagenfooter {
  vertical-align: middle;
  width: 60px;
  height: 60px;
}

.imagenfooter {
  vertical-align: middle;
  width: 60px;
  height: 60px;
}

.contenedorflexproductos {
  display: grid;
  gap: 25px;
  width: 100%;
  grid-template-columns: 1fr;
  padding: 20px;
}

.textoproductos {
  text-align: center;
}

.imagennosotros {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .contenedorflexproductos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .contenedorflexproductos {
    grid-template-columns: repeat(2, 1fr);
  }
}
.temaproductos {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
}

/*# sourceMappingURL=Style.css.map */
