@import "./loyout/pageindex/headerindex";
@import "./loyout/pageindex/mainindex";
@import "./loyout/pageproducto/main";
@import "./loyout/pageproducto/secction";
@import "./loyout/pageindex/footer";
@import "./loyout/pageproducto/footer";
@import "./loyout/pagenosotros/main";
@import "../sass/loyout/pagenosotros/tema";
