.contenedorflexmain {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 15px;
}

.contenedorflexmainarticle {
    width: 600px;
    text-align: center;

}


.Tazaimagen-Index {
    width: 100%;
    height: 250px;
    max-width: 250px;
    margin: 0 auto;
}

/* TABLET */
@media (min-width: 600px) {
    .contenedorflexmain {
        display: grid;
        grid-template-columns: 100px 100px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedorflexmainarticle {
        width: 45%;
        border: 1px solid rgb(41, 35, 88);
    }
}

/* DESKTOP */
@media (min-width: 992px) {
    .contenedorflexmainarticle {
        width: 30%;
    }
}