.contenedorflexsection {
    display: grid;
    gap: 25px;
    width: 100%;
    grid-template-columns: 1fr;
    padding: 20px;
    border: 1px solid red
}

.contenedorflearticle {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.buttonproductos {
    background-color: rgb(82, 10, 82);
    color: aliceblue;
    width: 16rem;
    height: 3rem;
    border: none;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
}

.productoparrafo {
    font-size: 16px;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
}

.Index-h3productos {
    margin: 0 auto;
    text-align: center;


}

.Tazaimagen-Index {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

@media (min-width: 600px) {
    .contenedorflexsection {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .contenedorflexsection {
        grid-template-columns: repeat(3, 1fr);
    }
}
