.contenedorflexsection{
   display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 15px;
    justify-items: center;
}

.contenedorflearticle{
      width: 100%;
    max-width: 400px;
    text-align: center;
}

.buttonproductos{
    background-color: rgb(82, 10, 82);
    color: aliceblue;
    width: 16rem;
    height: 3rem;
    border: none;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
}
.productoparrafo{
    font-size: 16px;
    width: max-content;
}

.Index-h3productos{
    text-align: center;
}

@media (min-width: 600px) {
    .contenedorflexmain {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .contenedorflexmain {
        grid-template-columns: repeat(3, 1fr);
    }
} 
