.productosPalCarrito {
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
}


.buttonEliminar {
    background-color: rgb(82, 10, 82);
    color: aliceblue;
    width: 16rem;
    height: 3rem;
    border: none;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
}

.contenedorflearticle {
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
}